@using Microsoft.AspNetCore.Identity
@using Frontend.Data

@inject SignInManager<ApplicationUser> SignInManager

@* <nav>
    <NavLink class="btn-theme-s" href="/account/details" Match="NavLinkMatch.All"><i class="fa-regular fa-fog"></i>Account Details</NavLink>
    <NavLink class="btn-gray" href="/account/security"><i class="fa-regular fa-lock"></i>Security</NavLink>
    <NavLink class="btn-gray" href="/account/savecourses"><i class="fa-regular fa-bookmark"></i>Saved Courses</NavLink>
    <NavLink class="btn-gray" asp-controller="Auth" asp-action="SignOut"><i class="fa-regular fa-arrow-right-from-bracket"></i>Sign out</NavLink>
</nav> 

@code {
    private async Task HandleSignOut()
    {
        await SignInManager.SignOutAsync();
    }
} *@
